
.container1{
    /* width: 1200px; */
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}
@media(max-width:824px) {
}
.navbar-nav a {
    font-size:11.5px !important;
    font-weight: bold;
    letter-spacing: 0.2px;
    transition-duration: 0.4s;
    transform: scale(1,1);
}

.blueIt {
    color:#40C1FA;
}
.navbar-brand:hover {
    color:white !important;
}
.navbar-nav a:hover {
    transform: scale(1.02,1.02);
}
.navbar-nav a i {
    transform: rotateY(0deg);
    transition-duration: 1s;
}
.card1 p {
    /* margin:20px 0px; */
}
.navbar-nav a:hover i {
    transform: rotateY(360deg);
}
@media(max-width:986px){
    .container1{
        flex-wrap: wrap;
        justify-content: center;
    
    }
    .card1{
        width: 60%;
    }
    .cards{
        width:100%;
    }
}
@media(max-width:786px){
  
    .cards{
        width: 100%;
    }
}
@media(max-width:468px){
    .container1{
        flex-wrap: wrap;
        justify-content: center;
      
    }
    .card1{
        width: 60%;
    }
    .cards{
        width: 100%;
    }
}

    


.card1{
    /* margin-top: 10%; */
    position: relative;
}

.card1 .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
    /* text-align: center; */
    

}
.card1 .face1{

    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(100px);
    z-index: 1;
}
.card1  .face2{
 position: relative;
 background-color: black;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 20px;
 box-sizing: border-box;
 box-shadow: 0 20px 50px rgba(0,0,0,0.8);
 transform: translateY(-100px);
}
.card1 .face1 i{
    font-size: 1em;
    color: #40C1FA;
}
.card1 .face1 h3{
    text-transform: uppercase;
    font-weight: bold;
    color:#fff;
    font-size: 28px;
}
.card1:hover .face1{
    transform: translateY(0px);
    background-color: #40C1FA;

}
.card1:hover .face2{
    transform: translateY(0px);
   
}
.card1:hover .face2 p{
    color: #fff;
    
}
.card1:hover .face1 i{
    color: black;
}
@media(max-width:768px){
   
    .card1 .face{
        width: 100%;
    }
    .card1 .face2{
        font-size: 10px;

    }
    .card1 .face1 .content h3{
        font-size: 24px;

    }
        .card1 .face1 i{
            font-size: 24px;

    }

}