.events{

    padding-top: 0.6rem;
    padding-bottom: 4rem;
    font-family: 'Titillium Web', cursive;
    background-color:black;
    display: flex;
    justify-content: center;
  }
  .e{
    background-color: black;
    text-align: center;
    color: whitesmoke;
    border-color: black;
    font-size: 42px !important;
    font-weight: bold !important;
    text-transform: uppercase;
}
  
  .testimonials {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-auto-rows: 437px;
    grid-gap: 20px;
    margin-top: 2rem;
    width: 1140px;
  }
  
  .testimonials .card {
    position: relative;
    text-align: center;
    background: #333;
    padding:0 20px 40px 0;
    box-sizing: border-box;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .testimonials .card .layer {
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#03a9f4, #e91ee3);
    z-index: 1;
    transition: 0.5s;
  }
  
  .testimonials .card:hover .layer {
    top: 0;
  }
  
  .testimonials .card .content {
    position: relative;
    z-index: 2;
    padding-top: 2rem;
  }
  
  .testimonials .card .content p {
    font-size: 16px;
    line-height: 24px;
    color: #ccc;
    transition: 0.5s;
    margin: 1rem 1rem;
  }
  
  .testimonials .card:hover .content p {
    color: #fff;
  }
  
  
  .testimonials .card .content .details h2 {
    margin: 15px 0;
    font-size: 19px;
    color: #fff;
    
  }
  
  .testimonials .card .content .details a{
    margin: 15px 0;
    font-size: 23px;
    color: #03a9f4;
    transition: 0.5s;
    text-decoration: none !important;
    
  }
  .details{
      margin-top: 2rem;
  }
    

  .end{
      padding-top: 1rem;
      padding-bottom: 0.82rem;
    font-size: 25px;
    color: #fff;

  }

  .e-name{
    
    color: #fff;
    font-size: 26px;;
  }

  .timerdiv{
        display: inline-block;
        font-size: 5px;
        padding: 2px;

  }

  #days {
    padding: 8px;
    line-height: 1;
    display: inline-block;
    font-size: 32px;
    color: #db4844;

  }
  #hours {
    line-height: 1;
    padding: 8px;
    display: inline-block;
    font-size: 32px;
    color: #f07c22;
  }
  #minutes {
    line-height: 1;
    padding: 8px;
    display: inline-block;
    font-size: 32px;
    color: #f6da74;
  }
  #seconds {
    line-height: 1;
    padding: 8px;
    display: inline-block;
    font-size: 22px;
    color: #abcd58;
  }
  span {
    display:block;
    font-size: 15px;
    color: white;
  }

  @media (max-width: 600px){
    .testimonials{
        width: 10rem;
        padding-left: 5rem;
    }
  }

  @media(max-width: 630px){
    .testimonials{
        width: 600px;
        
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

/* Medium devices (landscape tablets, 768px and up) */
@media(max-width: 768px){
    .testimonials{
        width: 700px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px){
    .testimonials{
        width: 890px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (max-width: 1200px){
    .testimonials{
        width: 960px;
        grid-template-columns: repeat(100px, minmax(100px, -6fr)) !important;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
  
  

  
