body {
    margin: 0px;
    font-family: 'Roboto Slab', serif;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin-top: 0px;
}

figure {
    margin: 0px;
}

a {
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.row {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.w-100 {
    width: 100%;
}

/* .container {
    width: 1200px;
    margin: 0 auto;
} */
/* .banner{
    text-align: center;
    
    background: url(../images/3.png) no-repeat 50% 50%;
    
    background-size: 40% 70%;
    height: 700px;

  
} */
.modal-content{
 background-color: #ffffff;
}
.modal-content img{
   
    width: 70%;
    display: block;
    margin: 0 auto;
}
#nav-bar .navbar{
    background-color: black !important;
    position: fixed;
    /* height: 200%; */
    width: 100%;
    z-index: 1000;
    left: 0;
}
#nav-bar .navbar a{
    text-align: center;
    padding: 1em;
    color: #ffffff;
    font-size: 1.2em;
    display: block;
    letter-spacing: 2px;
   
}
#nav-bar .navbar a:hover{
    color:#40C1FA;
}
#nav-bar .navbar a h3{
    font-weight: bold;
    font-size: 32px;
}
.navbar-toggler-icon{
    background-color: #ffffff;
}
#logo{
    text-align: center;
    perspective: 800px;
    transform-style: preserve-3d;
    height: 700px;
    
}
#logo img{
    
    margin-top: 15em;
    margin-bottom: 3em;
    width: 20%;
    animation: rotate 2.5s infinite linear ;
    animation-fill-mode: forwards;
   
    
}


@media(max-width:1120px){
    #logo img{
        width: 30%;
    }
}
@media(max-width:980px){
    #logo img{
        width: 35%;
    }
}
@media(max-width:720px){
    #logo img{
        width: 45%;
    }
}
@media(max-width:550px){
    #logo{

        text-align: center;
    }
    
    #logo img{
       
        width: 58%;
    }
    
    
}


@keyframes rotate{

    0%,10%{
        transform: rotateY(40deg);
    }
    10%,20%{
        transform: rotateY(80deg);
    }
    20%,30%{
        transform: rotateY(120deg);
    }
    30%,40%{
        transform: rotateY(160deg);
    }
    40%,50%{
        transform: rotateY(200deg);
    }
    50%,60%{
        transform: rotateY(240deg);
    }
    60%,70%{
        transform: rotateY(280deg);
    }
    70%,80%{
        transform: rotateY(320deg);
    }
    80%,90%{
        transform: rotateY(360deg);
    }
    90%,100%{
        transform: rotateY(360deg);
    }
   
    
    
}
#about {
    z-index: 100;
    margin-top: 10%;
    text-align: center;
    width: 100%;
}
#about h2{
    font-size: 42px;
    font-weight: bold;
}



/* #team {
    width: 100%;
    height: 650px;
    background: url(../images/3.jpg) no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;text-align: center;
    align-content: center;

  
   

 } */

/* #team .background{
    padding: 3em;
    
   
    text-align: center;
  


} */
#team{
    margin-top: 10%;
    text-align: center;
    margin-bottom: 10%;
}
#team h3{
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
}
#team .flipper ul {
    
    margin: 0%;
    width: 100%;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

#team .flipper ul li{
    width: 20%;
    margin-right: 5%;
    margin-bottom: 5%;
    display: block;
    perspective: 400px;
    transform-style: preserve-3d;
    height: 100%;
    /* box-shadow: 0px 10px 20px rgba(0,0,0,0.5); */
   

/* position: relative; */
text-align: center;

}
/* @media(max-width:720px){
    #team .flipper ul li{
        width: 35%;
    }

} */
#team .flipper .front{
    /* position: absolute; */
    width: 100%;
    /* position: relative; */
   
    transform-style: preserve-3d;
    transition: 0.5s;
    backface-visibility: hidden;
   transform-origin: center;
    top: 0px;
    left: 0px;
    z-index: 2;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
   
}
#team .flipper  .back{
    position: absolute;
    width: 100%;
    height: 100%;

    background-color:#40C1FA;
    transform:rotateY(-180deg);
    backface-visibility: hidden;
   transition: 0.5s;
    z-index: 100;
    transform-style: preserve-3d;
    top: 0px;
    left: 0px;
    transform-origin: center;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
   
    
    
    /* padding-top: 40%;
    padding-bottom: 40%; */
}

@media(max-width:920px){
    #team .flipper ul li{
        margin-bottom: 10%;
        width: 35%;
    }
}
    @media(max-width:720px){
        #team .flipper ul li{
            margin-bottom: 10%;
            width: 25%;
        }
        
    }
    @media(max-width:700px){
        #team .flipper ul{
            display: flex;
            justify-content: center;
        }
        #team .flipper ul li{
            margin-bottom: 10%;
            width: 40%;
        }
    }
        @media(max-width:420px){
            #team .flipper ul li{
                margin-bottom: 10%;
                width: 80%;
            }
        }


#team .flipper ul li .front img{
   width: 100%;
   max-height: 328px;
    


    
}
@media(max-width:720px){
    #team .flipper ul li .front img{
        width: 70%;
        max-height: 328px;
         
     
     
         
     }

}



#team .flipper ul li h5{
    text-transform: uppercase;
    color:#fff;
    font-size: 24px;
    margin-top: 10%;


}
@media(max-width:920px){
    #team .flipper ul li h5{
        font-size: 18px;
    }

}
#team .flipper ul li span{
    text-transform: uppercase;
    font-size: 14px;
}
#team .flipper ul li i{
    /* padding-bottom: 4em; */
    font-size: 24px;
    
    
    color: #fff;
}
/* @media(max-width:720px){

    #team .flipper ul li i{
        font-size: 20px;
    }
    #team .flipper ul li h5{
        font-size: 14px;
    }
} */
@media(max-width:920px){
    #team .flipper ul li i{
        font-size: 24px;
    }
}
@media(max-width:720px){

    #team .flipper ul li i{
        font-size: 20px;
    }
    #team .flipper ul li h5{
        font-size: 14px;
    }
}
/* #team .flipper ul li a {
    display: block;
} */
#team .flipper ul li:hover .front{
    transform: rotateY(180deg);
}
#team .flipper ul li:hover .back{
    transform: rotateY(0deg);
}
#team .flipper ul li i:hover{
    color: #40C1FA;
}


.main{
    z-index: 200;
   width: 100%;

}
.main h1{

	font-family: 'Viga', sans-serif;
    font-size: 36px;
    text-align: center;
    color: #fff;
    margin-bottom: 80px;
    text-transform: uppercase;
}
.content{
    margin: 0 auto;
    width: 100%;
}
.footer-grids{
	background: #282828;
    padding: 3em 3em;
    height: 350px;
    width: 100%;
}
p.footer-gd {
    color: #908F8F;
    font-weight: 500;
	font-size:14px;
}
p.footer-gd a {
	color:#fff;
}
p.footer-gd a:hover {
	color: #40C1FA;
}
.footer{
	float:left;
}
.footer h3{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 32px;
    font-family: 'Viga', sans-serif;
}
.footer.one {
    width: 37%;
}
p.adam{
	float:right;
	color:#6F6E6E !important;
	font-size:13px !important;
	margin-top:20px;
}
.footer.three {
    width: 23%;
}
.footer.one p{
	color:#908F8F;
	line-height:2em;
	font-size:14px;
}
.footer.two {
    width: 23%;
    margin: 0 8%;
}
.footer.two ul{
	margin:0;
	padding:0;
}
.footer.two ul li{
	list-style-type:none;
	display:block;
    line-height: 1.5em;
	font-size:14px;
}
.footer.two ul li a{
color:#908F8F;	
display:block;
}

.footer.two ul li a i {
    /* background: url('../images/social4.jpg') no-repeat 0px 4px;
    padding: 10px 0 12px 52px;
    border-radius: 180px 180px; */
    font-size: 28px;
    padding: 0.5em;
    color: #40C1FA;
}

.footer.three ul li {
    list-style-type: none;
    display: block;
    color: #908F8F;
    font-size: 14px;
    line-height: 2.5em;
}
.footer.three ul li span {
    display: block;
}
.footer.three ul li:nth-child(1) {
    background: url('../images/icon2.png') no-repeat 0px 6px;
    padding-left: 38px;
}
.footer.three ul li:nth-child(2) {
    background: url('../images/icon3.png') no-repeat 0px 6px;
    padding-left: 38px;
}
.footer.three ul li a {
    background: url('../images/icon1.png') no-repeat 0px 6px;
    padding-left: 38px;
    display: block;
	color:#908F8F;
}
.copy-right-grids {
	padding: 20px 20px;
    background: #211E1E;
    height: 60px;
}
.copy-left{
	float:left;
}
.copy-right{
	float:right;
}
.copy-right ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 0px;
    border-left: 1px solid #444343;
    padding: 0 12px;
}
.copy-right ul li a {
    color: #908F8F;
	font-size:13px;
}
.copy-right ul li:nth-child(1) {
    border: none;
}

.footer.two ul li a:hover i {
    color: #fff;
    
}

.footer.two ul li a:hover,.copy-right ul li a:hover,.footer.three ul li a:hover{
	color:#40C1FA;
}
/*-- responsive media queries --*/

@media (max-width: 1440px){
	.content {
		width: 100%;
	}	
}
@media (max-width: 1366px){
	.footer.one {
		width: 38%;
	}
	.footer-grids {
		padding: 2.5em 2.5em;
	}	
}
@media (max-width: 1280px){
	.main {
        width: 100%;
		
	}	
}
@media (max-width: 1080px){
	.content {
		width: 100%;
	}
	.footer h3 {
		font-size: 19px;
	}
	.copy-left {
		float: none;
		text-align: center;
		margin-bottom: 15px;
	}
	.copy-right {
		float: none;
		text-align: center;
	}
	.footer.two ul li a.fb2 ,.footer.two ul li a.fb,.footer.two ul li a.fb1,.footer.two ul li a.fb3,.footer.two ul li a.fb4{
		padding: 10px 0 10px 38px;
	}
	.footer h3 {
		font-size: 18px;
	}
	.main h1 {
		font-size: 34px;
	}	
}
@media (max-width: 1024px){
	.footer-grids {
		padding: 2em 2em;
	}
	.content {
		width: 100%;
	}
	.main h1 {
		font-size: 33px;
		margin-bottom: 55px;
	}
}
@media (max-width: 991px){
	.footer.two {
		width: 27%;
		margin: 0 5%;
	}
	.footer.three {
		width: 25%;
	}	
}
@media (max-width: 800px){
	.content {
		width: 100%;
	}
	.footer.one p {
		font-size: 13px;
	}
	.footer.two ul li {
		font-size: 13px;
	}
	.footer.three ul li {
		font-size: 13px;
	}	
	.footer.three ul li:nth-child(1),.footer.three ul li:nth-child(2),.footer.three ul li a{
		padding-left: 32px;	
	}
	.footer h3 {
		font-size: 16px;
	}
}
@media (max-width: 768px){
	.content {
		width: 100%;
	}
	p.footer-gd {
		font-size: 13px;
	}	
	
	.main h1 {
		margin-bottom: 120px;
	}
}
@media (max-width: 736px){
	
	.main h1 {
		margin-bottom: 60px;
	}
	.footer.one {
		width: 35%;
	}
	.footer.two {
		width: 29%;
		margin: 0 4%;
	}
	.footer.three {
		width: 27%;
	}	
}
@media (max-width: 667px){
	.footer.one {
		width: 35%;
	}
	.footer.two {
		width: 35%;
		margin: 0 4% 0 0;
	}	
	.footer.three {
		width: 30%;
	}
	.footer.one {
		margin-bottom: 40px;
	}
}
@media (max-width: 640px){
    .footer.three{
        display: none;
    }
    .footer.one{
        display: none;
    }
	.main h1 {
		font-size: 30px;
	}	
	.footer-grids {
		padding: 2.5em 2.5em;
    }
    .footer.two{
        width: 100%;
    }
    .copy-right-grids{
        display: none;
    }
   
}
@media (max-width: 600px){
	
	.main h1 {
		font-size: 28px;
		margin-bottom: 45px;
	}
}
@media (max-width: 568px){
	
}
@media (max-width: 480px){
	.footer-grids {
		padding: 1.5em 1.5em;
	}
	.copy-right-grids {
		padding: 20px 10px;
	}
	.copy-right ul li {
		padding: 0 10px;
	}
	p.footer-gd {
		line-height: 1.8em;
	}	
	p.adam {
		margin-top: 9px;
	}
	.main h1 {
		font-size: 26px;
		margin-bottom: 38px;
	}
}
@media (max-width: 414px){
.footer.two {
    width: 50%;
}
.footer.three {
    width: 50%;
}
.footer h3 {
    margin-bottom: 18px;
}
.footer.one {
    margin-bottom: 0;
}
.footer.two {
    width: 50%;
    margin: 30px 0;
}

.main h1 {
    font-size: 25px;
}
.copy-right ul li {
    line-height: 1.8em;
}
.footer.two ul li{
    width: 127%;
}	
}
/* @media (max-width: 384px){
	
} */
@media (max-width: 375px){
	.main h1 {
		font-size: 23px;
	}
		
}
@media (max-width: 320px){
	.main h1 {
		font-size: 21px;
	}
	.footer-grids {
		padding: 1em 1em;
	}
	
}
